body {
  background-color: bisque;
}

.todo-sec {
  display:flex;
}

.todo-sec ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-sec ul li {
  line-height: 24px;
}