@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
}

body {
  background-color: rgb(242, 242, 242);
}

.todo-sec {
  display: flex;
  justify-content: center;
}

.todo-sec ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 2px rgba(0, 0, 255, 0.2);
  gap: 2px;
  width: 60%;
}

.todo-sec ul li {
  display: flex;
  align-items: center;
  font-family: var(--font-lato);
  background-color: #fff;
  padding: 0 4%;
}

.todo-sec ul li p {
  padding-left: 2%;
}

.todo-sec ul li i {
  margin-left: auto;
  min-width: 24px;
  text-align: center;
}

.left-li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.todoTitle {
  font-weight: bold;
}

.todoAdd {
  font-style: italic;
}

#clearList {
  justify-content: center;
  padding: 0;
  background-color: rgb(242, 242, 242);
  color: rgb(77, 77, 77);
}

.addto,
.editing-task {
  outline: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 16px 0;
  border: none;
  padding-left: 2%;
  font-style: italic;
  width: 80%;
}

#menu-task {
  display: none;
  position: absolute;
}

#menu-task ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0.6%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 255, 0.2);
  background-color: #fff;
  gap: 4px;
  line-height: 24px;
  font-family: var(--font-lato);
}

#menu-task ul li {
  align-items: center;
}

#menu-task ul li:hover {
  background-color: rgb(242, 242, 242);
}
